<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#">Perguntas frequentes</a>
      <a href="#">Relações com investidores</a>
      <a href="#">Formas de assistir</a>
      <a href="#">Informações corporativas</a>
      <a href="#">Só na Netflix</a>
      <a href="#">Centro de ajuda</a>
      <a href="#">Carreiras</a>
      <a href="#">Termos de uso</a>
      <a href="#">Contato</a>
      <a href="#">Conta</a>
      <a href="#">Resgatar cartão pré-pago</a>
      <a href="#">Privacidade</a>
      <a href="#">Teste de velocidade</a>
      <a href="#">Media Center</a>
      <a href="#">Comprar cartão pré-pago</a>
      <a href="#">Preferências de cookies</a>
      <a href="#">Avisos legais</a>
    </div>
    <p class="footer-copyright">
      © 2025 Netflix Clone, feito por um Programador incrível.
    </p>
  </div>
</footer>