<header class="header-container" [ngClass]="{'sticky-header': isHeaderSticky}">
  <div class="header-group-left">
    <img src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg" alt="Netflix Logo" class="logo">
    <nav class="main-nav">
      <a href="#">Início</a>
      <a href="#">Séries</a>
      <a href="#">Filmes</a>
    </nav>
  </div>

  <div class="header-group-right">
    <div class="profile">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt="Profile" class="profile-avatar">
    </div>
  </div>
</header>