<div class="hero-container">
    <div class="hero-content">
        <h1 class="hero-title">Duna: Parte Dois</h1>
        <p class="hero-description">
            Paul Atreides se une a Chani e aos Fremen em uma guerra de vingança contra os conspiradores que destruíram sua família. Diante de uma escolha entre o amor de sua vida e o destino do universo, ele se esforça para evitar um futuro terrível que só ele pode prever.
        </p>
        <div class="hero-buttons">
            <button class="btn btn-play">
                <i class="fa-solid fa-play"></i>
                Assistir
            </button>
            <button class="btn btn-info">
                <i class="fa-solid fa-circle-info"></i>
                Mais Informações
            </button>
        </div>
    </div>
    <div class="hero-fade-bottom"></div>
</div>